<section
  id="experiences"
  class="mt-32 max-w-5xl mx-auto bg-gray-800 text-white rounded-2xl px-6 py-20 sm:p-8 shadow-lg"
  >
  <h2 class="text-3xl font-bold text-center mb-10">{{ 'experiences.title' | translate}}</h2>

  <div class="container mx-auto flex justify-center">
    <div class="max-w-4xl w-full space-y-8">

      <!-- E. Leclerc -->
      <div class="bg-white text-gray-900 shadow-lg rounded-xl p-6 flex gap-6 items-start">
        <img src="assets/img/leclerc_logo.webp" alt="E. Leclerc" class="w-20 h-12 rounded-md object-contain" />
        <div>
          <h3 class="text-xl font-semibold">
            {{ 'experiences.caisse' | translate}}
            <span class="ml-2 inline-block align-middle text-xs font-medium bg-emerald-100 text-emerald-700 px-2 py-0.5 rounded-md">{{ 'experiences.cdi-tp' | translate}}</span>
          </h3>

          <!-- Entreprise + période -->
          <p class="text-gray-600">{{ 'experiences.leclerc.lieu' | translate}}<span class="font-medium">{{ 'experiences.leclerc.time' | translate}}</span></p>

          <!-- Description -->
          <p class="mt-2 text-gray-700">
            {{ 'experiences.leclerc.desc' | translate}}
          </p>

          <!-- Compétences -->
          <!-- <p class="mt-3 text-gray-700"><span class="font-semibold">Compétences :</span> Gestion de la caisse</p> -->

          <!-- Tags -->
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">{{ 'experiences.leclerc.tags' | translate}}</span>
          </div>

        </div>
      </div>

      <!-- Storyzy — Alternance (2023–2025) -->
      <div class="bg-white text-gray-900 shadow-lg rounded-xl p-6 flex gap-6 items-start">
        <img src="assets/img/storyzy_logo.png" alt="Storyzy" class="w-20 h-12 rounded-md object-contain" />
        <div>
          <h3 class="text-xl font-semibold">
            {{ 'experiences.dev-full-stack' | translate}}
            <span class="ml-2 inline-block align-middle text-xs font-medium bg-indigo-100 text-indigo-700 px-2 py-0.5 rounded-md">{{ 'experiences.alt' | translate}}</span>
          </h3>

          <!-- Entreprise + période + durée -->
          <p class="text-gray-600">{{ 'experiences.sto-1.lieu' | translate}}<span class="font-medium">{{ 'experiences.sto-1.time' | translate}}</span></p>

          <!-- Description -->
          <p class="mt-2 text-gray-700">
            {{ 'experiences.sto-1.desc' | translate}}
          </p>

          <!-- Réalisations (tu peux garder) -->
          <ul class="mt-3 list-disc list-inside text-gray-700">
            <li>{{ 'experiences.sto-1.li-1' | translate}}</li>
            <li>{{ 'experiences.sto-1.li-2' | translate}}</li>
            <li>{{ 'experiences.sto-1.li-3' | translate}}</li>
          </ul>

          <!-- Tags -->
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Java</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Angular</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Spring Boot</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">MVC</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">UX</span>
          </div>
        </div>
      </div>

      <!-- Storyzy — Alternance (2022–2023) -->
      <div class="bg-white text-gray-900 shadow-lg rounded-xl p-6 flex gap-6 items-start">
        <img src="assets/img/storyzy_logo.png" alt="Storyzy" class="w-20 h-12 rounded-md object-contain" />
        <div>
          <h3 class="text-xl font-semibold">
            {{ 'experiences.dev-full-stack' | translate}}
            <span class="ml-2 inline-block align-middle text-xs font-medium bg-indigo-100 text-indigo-700 px-2 py-0.5 rounded-md">{{ 'experiences.alt' | translate}}</span>
          </h3>

          <!-- Entreprise + période + durée -->
          <p class="text-gray-600">{{ 'experiences.sto-2.lieu' | translate}}<span class="font-medium">{{ 'experiences.sto-2.time' | translate}}</span></p>

          <ul class="mt-3 list-disc list-inside text-gray-700">
            <li>{{ 'experiences.sto-2.li-1' | translate}}</li>
            <li>{{ 'experiences.sto-2.li-2' | translate}}</li>
            <li>{{ 'experiences.sto-2.li-3' | translate}}</li>
          </ul>

          <!-- Tags -->
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Java</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Angular</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Spring Boot</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">MVC</span>
          </div>
        </div>
      </div>

      <!-- Storyzy — CDD (2022) -->
      <div class="bg-white text-gray-900 shadow-lg rounded-xl p-6 flex gap-6 items-start">
        <img src="assets/img/storyzy_logo.png" alt="Storyzy" class="w-20 h-12 rounded-md object-contain"/>
        <div>
          <h3 class="text-xl font-semibold">
            {{ 'experiences.dev-full-stack' | translate}}
            <span class="ml-2 inline-block align-middle text-xs font-medium bg-amber-100 text-amber-700 px-2 py-0.5 rounded-md">{{ 'experiences.cdd' | translate}}</span>
          </h3>

          <!-- Entreprise + période + durée -->
          <p class="text-gray-600">{{ 'experiences.sto-3.lieu' | translate}}<span class="font-medium">{{ 'experiences.sto-3.time' | translate}}</span></p>

          <!-- Description courte -->
          <p class="mt-2 text-gray-700">
            {{ 'experiences.sto-3.desc' | translate}}
          </p>

          <!-- Tags -->
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Java</span>
              <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Angular</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Spring Boot</span>
          </div>
        </div>
      </div>

      <!-- Storyzy — Stage (2022) -->
      <div class="bg-white text-gray-900 shadow-lg rounded-xl p-6 flex gap-6 items-start">
          <img src="assets/img/storyzy_logo.png" alt="Storyzy" class="w-20 h-12 rounded-md object-contain"/>
          <div>
            <h3 class="text-xl font-semibold">{{ 'experiences.dev-full-stack' | translate}}
              <span class="ml-2 inline-block align-middle text-xs font-medium bg-sky-100 text-sky-700 px-2 py-0.5 rounded-md">{{ 'experiences.stage' | translate}}</span>
            </h3>
            <p class="text-gray-600">{{ 'experiences.sto-4.lieu' | translate}}<span class="font-medium">{{ 'experiences.sto-4.time' | translate}}</span></p>
            <p class="mt-2 text-gray-700">
              {{ 'experiences.sto-4.desc' | translate}}
            </p>
            <div class="mt-3 flex flex-wrap gap-2">
              <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Java</span>
              <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Angular</span>
            <span class="text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-md">Spring Boot</span>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>