<section id="about" class="mt-10 px-6 py-10 rounded-3xl shadow-lg text-white">
    <!-- text-gray-800 text-blue-600  bg-white -->
    <h2 class="text-3xl font-bold mb-6 ">
        {{ 'about.title' | translate }}
    </h2>

    <p class="leading-relaxed text-justify">
        {{ 'about.description' | translate }}
    </p>
    <br />
    <p class="leading-relaxed text-justify">
    {{ 'about.experiences' | translate }}
    </p>
    <br />
    <p class="leading-relaxed text-justify">
        {{ 'about.search-for' | translate }}
    </p>
</section>