<nav class="bg-gray-900 text-white px-6 py-4 shadow-md">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold text-blue-400 hover:text-white transition">
      Mon Portfolio
    </a>
    <ul class="flex space-x-4">
      <li><a routerLink="/" routerLinkActive="font-bold text-blue-300">Accueil</a></li>
      <li><a routerLink="/parcours" routerLinkActive="font-bold text-blue-300">Parcours</a></li>
      <li><a routerLink="/projets" routerLinkActive="font-bold text-blue-300">Projets</a></li>
      <li><a routerLink="/competences" routerLinkActive="font-bold text-blue-300">Compétences</a></li>
      <li><a routerLink="/contact" routerLinkActive="font-bold text-blue-300">Contact</a></li>
    </ul>
  </div>
</nav>
