<nav
  class="sticky top-0 left-0 h-10 py-1 w-full z-50 transition-all 
  duration-300 motion-reduce:transition-none bg-gray-900 text-white">
  <div class="max-w-6xl mx-auto px-4 flex items-center justify-between">
    <a routerLink="/"
      class="flex items-center gap-2 text-2xl font-bold text-white">
      <span class="font-semibold">{{ 'portfolio-title' | translate }}</span>
      <!-- (click)="scrollTop()" -->
    </a>
    <ul class="flex items-center gap-4 font-bold">
      <li>
        <span class="hover:opacity-90 hover:text-blue-400 transition hover:cursor-pointer" (click)="scrollToItem('portfolio')">{{ 'navbar.profil' | translate }}</span>
      </li>
      <li>
        <span class="hover:opacity-90 hover:text-blue-400 transition hover:cursor-pointer" (click)="scrollToItem('parcours')">{{ 'navbar.parcours' | translate }}</span>
      </li>
      <li>
        <span class="hover:opacity-90 hover:text-blue-400 transition hover:cursor-pointer" (click)="scrollToItem('skills')">{{ 'navbar.skills' | translate }}</span>
      </li>
      <li>
        <span class="hover:opacity-90 hover:text-blue-400 transition hover:cursor-pointer" (click)="scrollToItem('experiences')">{{ 'navbar.exp' | translate }}</span>
      </li>
    </ul>

    <div class="flex gap-2 items-center">
      <div *ngFor="let lang of languages" tabindex="0" class="relative group">
        <img
          [src]="'assets/flags/' + lang + '.svg'"
          [alt]="lang"
          tabindex="0"
          class="w-6 h-6 cursor-pointer transition duration-200"
          [ngClass]="{
            'opacity-50 grayscale': currentLang !== lang,
          }"
          (click)="setLanguage(lang)"
          (keydown.enter)="setLanguage(lang)"
        />

        <span
          class="absolute top-full left-1/2 translate-x-[-50%] mt-2 px-2 py-1 text-sm text-white bg-black rounded opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none whitespace-nowrap z-10"
        >
          {{ 'language.' + lang | translate }}
        </span>
      </div>
    </div>
  </div>
</nav>


<!-- <a
          class="hover:opacity-90"
          routerLink="/competences"
          routerLinkActive="font-bold text-blue-300"
          >Compétences</a
        > -->