<div class="global-bg">
  <div class="particles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>

    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>

    <span></span><span></span><span></span><span></span><span></span>

    <span></span><span></span><span></span><span></span><span></span>
    
    <span></span><span></span><span></span><span></span><span></span>

    <span></span><span></span><span></span><span></span><span></span>
  </div>
</div>
