<div
    class="full-bleed min-h-screen w-screen flex flex-col justify-center items-center text-white px-4"
    #container>
  <h1 class="text-4xl font-extrabold text-center mb-4 leading-tight intro-title">
    {{ 'home.welcome' | translate }}
  </h1>
  <p class="text-xl text-center max-w-xl intro-subtitle">
    {{ 'home.intro' | translate }}
  </p>
  <button
    class="mt-8 px-6 py-3 bg-blue-600 hover:bg-blue-700 rounded-xl text-white text-lg font-semibold transition-all duration-300 intro-button"
    (click)="scrollToPortfolio()">
    {{ 'home.discover' | translate }}
  </button>
</div>

<div id="portfolio">
  <div class="mt-32 max-w-7xl mx-auto px-4">
    <div class="relative transition-all duration-300 md:pl-[30px] flex gap-6">
      <aside class="hidden md:block sticky top-20 w-[280px] left-10 h-fit">
        <div class="scale-1">
          <app-profil></app-profil>
        </div>
      </aside>
      <div class="min-h-[150vh] pl-16 mt-24" #sections>
        <app-about></app-about>
        <app-journey></app-journey>
        <app-skills></app-skills>
        <app-professional-experience></app-professional-experience>
      </div>
      <div class="fixed bottom-4 right-4 bg-black/70 text-white px-3 py-1 rounded text-sm">
        <button *ngIf="!atTop"
          (click)="scrollToTop()"
          class="fixed bottom-6 right-6 rounded-full p-1 
          text-3xl bg-blue-600 text-white shadow-lg"
          > ↑ </button>
      </div>
    </div>
  </div>
</div>
